.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:after {
      content: "";
      display: table;
      clear: both;
  }

  &:not(:last-child) {
      margin-bottom: $gutter-vertical;

      @include respond(tab-port) {
        margin-bottom: $gutter-vertical-small;
        
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
}

  @include clearfix;

  [class*="col-"] {
      float: left;      
      
      &:not(:last-child) {
          margin-right: $gutter-horizontal;

          @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
        }
      }

      @include respond(tab-port) {
          width: 100% !important;
      }
  }

  // This part creates the code for each col.
  // E.g: .col-1-of-3
  @for $cols from 2 through 4 {
      @for $col from 1 through $cols {
          .col-#{$col}-of-#{$cols} {
              width: calc((100% / #{$cols} * #{$col}) - #{$gutter-horizontal});
              
              // For the last child of the row to
              // preserve the full width.
              // A little bit overkilled, sorry.
              &:not(:last-child) {
                  width: calc((100% / #{$cols} * #{$col}) - #{$gutter-horizontal});
              }
          }
      }
  }
}














